- var now = new Date()
include ../mixins/head
include ../mixins/utils
doctype html
html
  +head(paste.title)
  body
    main#content
      h1 #{paste.title}
      p 
        | by @#{handle} 路
        | #{timeDifference(now, Date.parse(paste.createdAt))} ago 路
        | #{paste.lang} 路 
        | #{paste.code.split('\n').length} loc 路 
        a(href=`/r/${shortUrl}`) raw
      pre
        | #{paste.code}
