- var now = new Date()
include ../mixins/head
include ../mixins/header
include ../mixins/utils
doctype html
html
  +head(`${paste.title} · ${didHandleMap[paste.authorDid]}`)
  body
    main#content
      +header(ownDid, didHandleMap)
      h1 #{paste.title}
      p 
        | @#{didHandleMap[paste.authorDid]} ·
        | #{timeDifference(now, Date.parse(paste.createdAt))} ago ·
        | #{paste.lang} · 
        | #{paste.code.split('\n').length} loc · 
        a(href=`/r/${paste.shortUrl}`) raw
        | &nbsp;·&nbsp;
        | #{comments.length} #{pluralize(comments.length, 'comment')}
      pre
        code
          - var lines = paste.code.split(/\r?\n|\r|\n/g)
          - var tot_chars = lines.length.toString().length
          each line, idx in lines
            span.code-line
              span.code-line-num(id=`L${idx + 1}` style=`min-width: ${tot_chars}ch;`)
                | #{idx + 1}
              span.code-line-content #{line}
      hr

      if comments.length != 0
        h1(id="comments") comments
        div.comments
          each comment in comments
            div.comment(id=`${encodeURIComponent(comment.uri)}`)
              p 
                a(href=`/u/${comment.authorDid}`)
                  | @#{didHandleMap[comment.authorDid]}
                | &nbsp;·
                | #{timeDifference(now, Date.parse(paste.createdAt))} ago
              p 
                pre.comment-body #{comment.body}
        hr

      if ownDid
        form(action=`/${encodeURIComponent(paste.uri)}/comment` method="post").post-form
          div.post-row
            textarea#code(name="comment" rows="5" placeholder="add a comment" required).post-input-code

          div.post-submit-row
            button(type="submit").post-input-submit zonk!
      else 
        p
          a(href="/login") login
          |&nbsp;to post a comment
