- var now = new Date()
include ../mixins/head
include ../mixins/header
include ../mixins/utils
doctype html
html
  +head(paste.title)
  body
    main#content
      +header(ownDid, didHandleMap)
      h1 #{paste.title}
      p 
        | by @#{didHandleMap[paste.authorDid]} ·
        | #{timeDifference(now, Date.parse(paste.createdAt))} ago ·
        | #{paste.lang} · 
        | #{paste.code.split('\n').length} loc · 
        a(href=`/r/${paste.shortUrl}`) raw
      pre
        | #{paste.code}
      hr

      div.comments
        each comment in comments
          div.comment(id=`${encodeURIComponent(comment.uri)}`)
            p 
              | by @#{didHandleMap[comment.authorDid]} ·
              | #{timeDifference(now, Date.parse(paste.createdAt))} ago
            p 
              | #{comment.body}
      hr

      form(action=`/${encodeURIComponent(paste.uri)}/comment` method="post").post-form
        div.post-row
          textarea#code(name="comment" rows="5" placeholder="add a comment" required).post-input-code

        div.post-submit-row
          button(type="submit").post-input-submit zonk!
