- var now = new Date()
include ../mixins/head
include ../mixins/header
include ../mixins/utils
doctype html
html
  +head(`${paste.title} · ${didHandleMap[paste.authorDid]}`)
  body
    main#content
      +header(ownDid, didHandleMap)
      h1 #{paste.title}
      p 
        | @#{didHandleMap[paste.authorDid]} ·
        | #{timeDifference(now, Date.parse(paste.createdAt))} ago ·
        | #{paste.lang} · 
        | #{paste.code.split('\n').length} loc · 
        a(href=`/r/${paste.shortUrl}`) raw
      pre
        | #{paste.code}
      hr

      if comments.length != 0
        h1 comments
        div.comments
          each comment in comments
            div.comment(id=`${encodeURIComponent(comment.uri)}`)
              p 
                a(href=`/u/${comment.authorDid}`)
                  | @#{didHandleMap[comment.authorDid]}
                | &nbsp;·
                | #{timeDifference(now, Date.parse(paste.createdAt))} ago
              p 
                pre.comment-body #{comment.body}
        hr

      form(action=`/${encodeURIComponent(paste.uri)}/comment` method="post").post-form
        div.post-row
          textarea#code(name="comment" rows="5" placeholder="add a comment" required).post-input-code

        div.post-submit-row
          button(type="submit").post-input-submit zonk!
