mixin post(paste, handle, did)
  div.post
    p
      a(href=`/p/${paste.shortUrl}`).post-link
        | #{paste.title}
      p.post-info
        | by 
        a(href=`/u/${did}`)
          | @#{handle}
        | &nbsp;路
        | #{timeDifference(now, Date.parse(paste.createdAt))} ago
        | 路
        | #{paste.lang}
        | 路
        | #{paste.code.split('\n').length} loc
        | 路&nbsp;
        a(href=`/p/${paste.shortUrl}/#comments`) #{paste.commentCount} #{pluralize(paste.commentCount, 'comment')}
